/* Global styles
-----------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #EDF2F4;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

a {
    color: #ef233c;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.col-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
    min-height: 175px;
}

.col-wide {
    width: 62%;
    float: left;
    min-height: 175px;
    padding-left: 20px;
}

/* Header and Footer
------------------------------*/
header {
    background: #2b2d42;
    color: #8d99ae;
    height: 500px;
    opacity: 0.9;
}

/*header*/
.profile-img {
    /*width: 300px;*/
    border-radius: 50%;
    /*float: left;*/
    /*margin-right: 30px;*/
}

header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/*footer*/
footer {
    background: #EDF2F4;
    text-align: center;
    height: 300px;
    padding-top: 100px;
}

.contact-info a {
    /*background-color: white;*/
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
